 <!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <title>{% block title %}Tatem 2.0{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
    <div class="nav-wrapper teal">
      <a href="{% url 'index' %}" class="flow-text">Tatem 2.0</a>
      <ul <!--id="nav-mobile" class="right">
        <li><a href="{% url 'index' %}" class='flow-text'>Главная</a></li>
        <li><a href="{% url 'menu' %}" class='flow-text'>Меню</a></li>
        {% block navbar %}{% endblock %}
      </ul>
    </div>
  </nav>
  <div class="container">
        {% block body %}{% endblock %}
  </div>
    </body>
  </html>